@import url("/navbar/navbar.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1d1b40;
  color: #ffffff;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.main-container {
  background-color: rgb(226, 43, 43);
  padding: 0 147px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  background-color: #2c87cc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.text-content {
  background-color: darkgreen;
  padding-top: 86.7px;
  flex: 1;
  max-width: 500px;
}

.main-title {
  background-color: rgb(8, 49, 255);
  font-size: 50px;
  line-height: 78px;
  margin: 0;
}

.sub-title {
  background-color: magenta;
  font-size: 20px;
  font-weight: bold;
  color: #e87d0e;
  -webkit-text-stroke: 1px #000000;
  margin: 0;
  margin-bottom: 17px;
}

.main-paragraph {
  background-color: #ebeb16;
  font-size: 16px;
  font-weight: 400;
  color: #cfcfcf;
  margin-bottom: 50px;
  margin-top: 30px;
  line-height: 29.5px;
}

.main-button {
  font-family: Poppins, sans-serif;
  padding: 14.5px 31px;
  margin-top: 7px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background: linear-gradient(to right, #f97c02, #f89e3b);
  border: none;
  border-radius: 40px;
}

.joystick-image {
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 772px;
  z-index: 1000;
}

.logo-cry {
  position: absolute;
  top: 202px;
  left: 828px;
  right: 649px;
}
.logo-unity {
  position: absolute;
  top: 409px;
  left: 649px;
  right: 695px;
}

.logo-unreal {
  position: absolute;
  top: 218px;
  left: 1168px;
  right: 351px;
}
.trending-games {
  background-color: #b7c889;
  margin:0;
  padding:  17.5px 0px 0px;
  width: 100%;
  
}
.container-title {
  background-color: #8ab613;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin: 0;
}


.trending-games h2 {
  background-color: aqua;
  margin: 170.5px 0 60px 0;
  font-family: Rubik, sans-serif;
  font-size: 31px;
  font-weight: 800;
}

.games-list {
  background-color: antiquewhite;
  display: flex;
  gap: 46.5px;
  flex-wrap: wrap;
}

.game {
  margin-top: 5px;
  background-color: #FF8C00;
}

.game img {
  background-color: darkred;
  width: 252px;
  height: 278px;
  border-radius: 10px;
}

.game p {
  font-family: Rubik, sans-serif;
  font-size: 22px;
  text-align: center;
  background-color: chartreuse;
  margin-top: 25px;
  font-weight: 500;
  line-height: 35px;
}

.game p::before {
  content: url("/home/images/fire.png");
  vertical-align: middle;
}

.see-all-button {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  position: flex;
  color: #ffffff;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.11);
  padding: 16px 30px;
  margin-right: 40px;
  margin-top: 100px;
  border-radius: 10px;
  border: none;
  cursor: pointer;

}

.see-all-button:hover {
  background-color: #ffffff72;
}

.services-section {
  background-color: #953887;
  color: #FFFFFF;
  padding: 110px 0px 157px;
  position: relative;
  width: 100%;
  
}
.services-container {
  justify-content: space-between;
}

.services-section h1 {
  background-color: rgba(0, 255, 255, 0.133);
  text-align: center; 
  margin: auto;
  font-size: 35px;
  font-weight: 600;
  max-width: 800px;
  margin-bottom: 75.5px;
  line-height: 65px;
}

.services-container h2 {
  background-color: #1c44e4;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.services-section p {
  background-color: rgb(57, 201, 57);
  font-size: 16px;
  font-weight: 400px;
  margin-bottom: 58px;
  line-height: 29.5px;
}
.services-image {
  position: relative;
  margin: 0 auto;
}
.services-image img {
  max-width: 100%;
  border-radius: 5px;
}

.pontinhos{
  position: absolute;
  top: 0; /* Alinha ao topo */
  right: 160px;
  width: 200px;
  height: 71px;
  transform: translateY(-71px); 
  background-color: transparent;
  background-image: radial-gradient(circle, #c6552889 3.5px, transparent 3.5px);
  background-size: 20px 20px;
  background-repeat: repeat;
}