@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

footer {
    background-color: #0b0b0b;
    padding: 40px 0 25px; 
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Define quatro colunas de tamanho igual */
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo {
    margin: 0 auto;
    grid-column: span 1; /* Ocupa uma coluna */
    flex-direction: column;
    display: flex;
    max-width: 100%; /* Garante que a largura do contêiner não exceda o limite */

}

.footer-logo h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer-logo p {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 16px;
    max-width: 350;
    
}

.footer-links {
    display: flex;
    grid-column: span 1; /* Ocupa uma coluna */
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.footer-links h3 {
    font-size: 17px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact {
    margin: 0 auto;
    grid-column: span 1; /* Ocupa duas colunas para maior espaço */
    display: flex;
    flex-direction: column;
}

.footer-contact h3 {
    font-size: 17px;
    margin-bottom: 20px;
}

.footer-contact p {
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    align-items: center; /* Alinha o conteúdo verticalmente */
}

.social-icons {
    grid-column: span 1; /* Garante que os ícones sociais ocupem uma coluna */
    display: flex;
    justify-content: center;
    margin-top: 154px;
    gap: 6px;

}

.social-icons a {
    margin-right: 10px;
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
    text-align: center;
    line-height: 36px;
}

.social-icons img {
    width: 12px;
    height: 12px;
    vertical-align: middle;
    transition: transform 0.3s ease;
}

.social-icons a:hover img {
    transform: scale(1.2);
}

.footer-bottom {
    grid-column: span 4; /* Faz a seção de rodapé ocupar toda a largura disponível */
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 0.8px solid #D2D2D2;
}

.footer-bottom p {
    font-size: 13px;
    margin: 0;

}
